In [1]:
import pandas as pd

In [2]:
master=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [3]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
Unnamed: 0    1016395 non-null int64
Id            1016395 non-null int64
Name          1016395 non-null object
Year          1016395 non-null int64
Gender        1016395 non-null object
State         1016395 non-null object
Count         1016395 non-null int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [5]:
master.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [24]:
master.index

RangeIndex(start=0, stop=1016395, step=1)

In [19]:
master.index

RangeIndex(start=0, stop=1016395, step=1)

In [26]:
master.shape

(1016395, 7)

In [ ]:
# Questuion 1

In [4]:
master.drop(master.columns[0], axis=1, inplace=True)

master.columns

In [5]:
master.columns

Index(['Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

master.info()

In [ ]:
# Questuion 2

In [21]:
master['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [ ]:
# Questuion 3

In [20]:
master['Name'].value_counts().head(5)

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [ ]:
# Questuion 4

In [24]:
master['Name'].describe()

count     1016395
unique      17632
top         Riley
freq         1112
Name: Name, dtype: object

In [15]:
# Questuion 5

In [16]:
master.groupby('Gender')['State'].value_counts()

Gender  State
F       CA       45144
        TX       39760
        NY       28158
        FL       25781
        IL       21268
        GA       19385
        OH       18143
        PA       17480
        NC       17357
        MI       16038
        NJ       15041
        VA       14759
        AZ       14518
        WA       13329
        TN       13063
        IN       13056
        MO       11948
        CO       11424
        MD       11276
        MN       10677
        MA       10580
        WI       10549
        LA       10510
        AL        9878
        OK        9519
        UT        9515
        SC        9465
        KY        8817
        OR        8604
        KS        7753
                 ...
M       WI        8940
        MA        8609
        AL        8419
        UT        8233
        SC        8195
        OK        8138
        OR        7333
        KY        7267
        MS        6862
        KS        6748
        AR        6475
        IA        6307
        NV        6024
        CT        5733
        NE        5029
        NM        4966
        ID        4833
        WV        3733
        HI        3546
        DC        3000
        MT        2986
        SD        2908
        ME        2777
        NH        2659
        AK        2587
        ND        2581
        RI        2468
        DE        2440
        WY        1904
        VT        1618
Name: State, Length: 102, dtype: int64